body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

.container{
margin:50px auto;
width:350px;
background:#222;
padding:25px;
border-radius:15px;
}

input,button{

width:90%;
padding:12px;
margin:10px;
border-radius:8px;

}

button{

background:#00ff88;
border:0;
font-size:18px;

}
